@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colors-background: #101010;
  --colors-background-soft: #242424;
  --colors-text: #ffffff;
  --colors-text-soft: #adadad;
  --colors-border: #333;
  --colors-focus-ring: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--colors-background);
  color: var(--colors-text);
  font-size: 16px;
}

body {
  max-width: 100vw;
  overflow-x: clip;
}

*:focus:not(:focus-visible) {
  outline: none !important;
}

*:focus-visible {
  outline: 2px solid var(--colors-focus-ring);
  outline-offset: 0.3em;
}

button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  box-shadow: 0 0 0 2px var(--colors-focus-ring);
  outline: 0;
}

.heading-xl {
  @apply text-36 xs:text-60 lg:text-72 tracking-wide font-bold;
}

.heading-lg {
  @apply text-lg tracking-wide font-bold;
}

.heading-md {
  @apply tracking-wide font-medium;
  font-size: 18px;
}

.pill {
  @apply bg-background-soft rounded px-12 py-8 font-mono block w-content text-sm;
}

.inline-code {
  @apply pill;
  display: inline;
  padding: 0.25em;
}

.input {
  @apply bg-background-soft rounded px-12 py-8;
}

.link {
  @apply text-pink-300 hover:underline;
}

.constrain-x {
  @apply max-w-640 w-full mx-auto px-24 xs:px-36 md:px-0;
}

@layer utilities {
  .columns-1 {
    column-count: 1;
  }

  .columns-2 {
    column-count: 2;
  }

  .mask-svg {
    mask: var(--mask-svg) center / contain no-repeat;
  }
}
